# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\00_MyFiles\001_My_Codes\002_Java_android_Codes\02_projects_Idea\BigDataProj-Design-A\day07_weblogx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
